* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /*15px*/
  --navy-blue: #363f5f;
  --navy: #363f5f;
  --green: #49aa26;
  --green-hover: #3dd705;
  --light-green: #7dc762;
  --green-income: #12a454;
  --red: #e92929;
  --gray: #969cb3;

  --bg: #f0f2f5;
  --bg-modal: #f0f2f5;
  --bg-half: #2d4a22;
  --bg-color: #ffffff;
  --bgToggle: #053814;
  --title-white: #ffffff;
  --title-white-modal: #000000;
  --bg-transparent: #ffffff;
  --bg-shadow: rgba(0, 0, 0, 0.2);
  --bg-border: rgba(0, 0, 0, 0.1);

  --bg-dark: #121212;
  --bg-modal-dark: #2c2c2c;
  --bg-half-dark: #121212;
  /* --bg-half-dark: #032c17; */
  --bg-color-dark: #2c2c2c;
  --bgToggle-dark: #0b6b28;
  --bg-transparent-dark: rgba(255, 255, 255, 0.05);
  --bg-shadow-dark: rgba(0, 0, 0, 0.2);
  --bg-border-dark: rgba(255, 255, 255, 0.1);
  --titles-color: #363f5f;
  --title-black-modal: #ffffff;
  --titles-color-dark: #535f8b;
}

body {
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
}

/*#############
####HEADER#####
##############*/

header {
  background-color: var(--bg-half);
  padding: 2rem 0 14rem;
  text-align: center;
}

#header-space {
  justify-content: center;
  flex-direction: row;
}

#switch {
  position: absolute;
  right: 0;
  visibility: hidden;
}

header > div > input[type='checkbox'] {
  height: 0;
  width: 0;
}

header > div > label {
  cursor: pointer;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  width: 52px;
  height: 27px;
  background: var(--bgToggle);
  float: right;
  border-radius: 100px;
}

header > div > label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: var(--title-white);
  border-radius: 90px;
  transition: 0.3s;
}

header > div > input:checked + label {
  background-color: var(--bgToggle-dark);
}

header > div > input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

header > div > label:active:after {
  width: 45px;
}

#logo {
  color: var(--title-white);
  font-weight: 100;
}

/*##############
######MAIN######
###############*/
.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* BALANCE */
#balance {
  margin-top: -8rem;
}

#balance h2,
#transaction h2 {
  color: var(--title-white);
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

section .card {
  position: relative;
  background: var(--bg-transparent);
  box-shadow: 0 15px 35px var(--bg-shadow);
  border-top: 1px solid var(--bg-border);
  border-bottom: 1px solid var(--bg-border);
}

.card {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  color: var(--titles-color);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1rem;
}

.card.total {
  background: var(--light-green);
}
.card.total h3 {
  color: var(--title-white);
}

.card.total p {
  color: var(--title-white);
}

/* TRANSACTION */

#transaction h2 {
  display: block;
  width: 100%;
  color: var(--titles-color);
  margin-top: 3.2rem;

  overflow-x: auto;
}

.button {
  text-decoration: none;
  color: var(--green);
}

a:hover {
  color: var(--green-hover);
}

.button .new {
  margin-bottom: 0.8rem;
  display: inline-block;
}
.button.cancel {
  color: var(--red);
  border: 2px var(--red) solid;
  border-radius: 0.25rem;

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

button {
  width: 100%;
  height: 50px;

  border: none;
  color: var(--title-white);
  background-color: var(--green);

  padding: 0;
  border-radius: 0.25rem;

  cursor: pointer;
}

button:hover {
  background: var(--green-hover);
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--gray);
}

table th,
table td {
  background: var(--bg-color);
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
  color: var(--gray);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

td.description {
  color: var(--navy);
}

td.expenses {
  color: var(--red);
}

td.incomes {
  color: var(--green-income);
}

/*##############
#####MODAL#####
###############*/
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--bg-modal);
  padding: 2.4rem;
  position: relative;
  border-radius: 10px;
  z-index: 1;
  /* width: 90%;
  max-width: 500px; */
}

#form {
  max-width: 500px;
}

#form h2 {
  color: var(--title-white-modal);
  margin-top: 0;
}

input {
  color: var(--navy);
  background: var(--bg-transparent-dark);
  box-shadow: 0 15px 35px var(--bg-shadow-dark);
  border-top: 1px solid var(--bg-border-dark);
  border-bottom: 1px solid var(--bg-border-dark);
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

.help {
  color: var(--navy);
}

/*#############
####GRIFIC#####
##############*/
.grafic-container {
  width: min(90vw, 800px);
  height: 400px;
  background: var(--bg-color);
  margin: 20px auto;
  border-radius: 0.5rem;
  color: var(--gray);
}

.bills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/*##############
#####FOOTER#####
###############*/
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--titles-color);
  opacity: 0.6;
}

/*#############
##RESPONSIVE###
##############*/
@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
